node_modules

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

auto-imports.d.ts
components.d.ts
auto-imports.zod.d.ts
package.json.tmp

# Only track preset-manager plugin
/*
!/src/
/src/*
!/src/preset-manager/
!/dist/
/dist/*
!/dist/preset-manager/
!/.gitignore
!/README.md
